<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <base href="/" />

    <!-- favicon -->
    <link rel="icon" href="/assets/favicon.ico" />

    <!-- title -->
    <title>Autonomic Tournament Speaker System</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{{block "head"}}}

    {{{block "stylesheets"}}}

    {{{block "head-footer"}}}

</head>

<body>

{{{block "body"}}}

{{{body}}}

<script type="text/javascript">
    window.apiEndpoint = '/api';
</script>

{{{block "scripts"}}}

</body>
</html>