<div class="col-md-12 court-name">
    {{game.court.name}}
</div>

{{#if isModify}}
    <div class="col-md-12">{{game-selection game=game groups=groups}}</div>
{{else}}
    {{#if hasTeams}}
        <div class="col-md-12 game-team">{{game.team1.number}} / {{game.team1.name}}</div>
        <div class="col-md-12 game-versus">vs</div>
        <div class="col-md-12 game-team">{{game.team2.number}} / {{game.team2.name}}</div>
    {{else}}
        <div class="col-md-12 game-free">Spielfrei</div>
    {{/if}}
{{/if}}
